div.authentication-container    {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div.card    {
    background: linear-gradient(gray 0% 20%, white 20% 100%);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    height: 300px;
    width: 300px;
}

div.card > h4  {
    background-color: gray;
    width: 50%;
    top: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
}

input   {
    height: 20%;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px dotted gray;
}

form.auth-form  {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-around;
    height: 60%;
}
