div.create-div  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    margin-top: 30px;
}

h3.report-div-title {
    font-size: 25px;
}

p.search-info   {
    font-size: 20px;
}

form.new-sighting-form.form {
    margin-top: 20px;
    min-height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--post);
    border-radius: 20px;

    > div.form-group    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;

        > * {
            margin: 10px;
        }
    }

    > div.dropdown {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid black;
        > div {
            margin: 10px;
            display: flex;
            justify-content: center;
            > * {
                width: 60%;
                height: 25px;
                text-align: center;
                font-size: 15px;
                font-family: var(--other-font);
            }
        }
    }

    > * {
        margin: 5px;
    }

}

label.label {
    font-family: var(--body-font);
    font-size:20px;
}

select {
    border-radius: 10px;
}

textarea {
    border: none;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    width: 60%; 
}

textarea.report{
    height: 100px
}

input {
    height: 20px;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    border: none;
}