main.main    {
    background-color: var(--blue);
    position: relative;
    top:16vh;
    padding-top: 20px;
    z-index:1;
    height: 100vh;
    width: 100%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-type: y mandatory;
}
h1.cryptid    {
    position: fixed;
    top:20px;
    left: 10px;
    color: rgba(0, 0, 0, 0.7);
    font-family: var(--title-font);
    font-size: 45px;
}

a:-webkit-any-link  {
    text-decoration: none;
}

h1.cryptid.homepage    {
    position: relative;
    text-align: center;
    font-size: 50px;
    color: black;
    margin: 0px;
    // margin-top: 30px;
    top: 0px;
}

h2.tagline  {
    display: none;
}

h2.tagline.homepage  {
    // height: 100px;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

div.fonts   {
    z-index: 10;
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title   {
    font-family: var(--title-font);
}

.body    {
    font-family: var(--body-font);
}

.sketchy   {
    font-family: var(--special-font);
}

.other  {
    font-family: var(--other-font);
}

@media screen and (max-width: 800px) {
    main    {
        top: 8vh;
    }
    h1.cryptid.homepage  {
        font-size: 20px;
    }
    h2.tagline  {
        font-size: 15px;
    }
}
