input.search   {
    background-color: rgba(255, 255, 255, 0.712);
    border-radius: 10px;
    border: none;
    text-align: right;
    font-family: var(--other-font);
    height: 20px;
}

input.search:hover  {
    background-color: white;
}