div.intro-block   {
    height: 50vh;
    width:100%;
    position:fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index:-10;
    top:5vh;
}

img.creatures {
    width: 100%;
    // top:10vh;
    // left:15vw;
    // right:15vw;
}