div.intro-block   {
    height: 50vh;
    position:fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index:-10;
    top:40px;
}

h1.cryptid    {
    font-family: var(--special-font);
    font-size: 40px;
}

img.creatures {
    width: 100%;
    top:8vh;
    // left:15vw;
    // right:15vw;
}