header.header   {
    position:relative;
    // height:50vh;
    top:20vh;
}

img.trees {
    width: 100vw;
}

div.burger-links  {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
}

a.login-button  {
    margin-top: 10px;
    font-family: var(--body-font);
    color: black;
}

section.top {
    position:fixed;
    width: 200px;
    z-index:20;
    top:20px;
    right:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    header.header   {
        top: 10vh;
    }
}
