div.post   {
    margin: 20px;
    width: 90%;
    background-color: var(--post);
    border-radius: 20px;
    padding: 20px;
}

div.post > * {
    margin-top: 5px;
}

div.post:hover  {
    background-color: rgba(255, 255, 255, 0.835);
}

h2.post-description, h3.post-report  {
    color: white;
}

div.post > p {
    margin-top: 8px;
    width:100%; 
}

div.align-right {
    display: flex;
    justify-content: flex-end;
}

