* {
  --dark-gray:rgb(42, 42, 42);
  --blue: #184169;
  --orange: #FB7946;
  --brown: #C67E58;
  --tan: #DDB37E;
  --red: #823246;

  // fonts
  --title-font: 'Press Start 2P', cursive;
  --body-font: 'Yuji Syuku', serif;
  --special-font:'Special Elite', cursive;
  --other-font:'Inconsolata', monospace;
}
